/* Global */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-white-color);
  color: var(--p-text);
}

body a {
  text-decoration: none;
}

body li {
  list-style: none;
}

:root {
  --main-color-text: #2e2f42;
  --p-text: #434455;
  --hover-color: #404bbf;
  --main-white-color: #ffffff;
  --main-blue-color: #4d5ae5;
  --main-fill-color: #f4f4fd;
  --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* utilites */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section {
    padding: 120px 0;
  }
}

/* header */

header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  border: none;
  padding: 0;
  transform: translateY(-50%);
  background-color: transparent;
  cursor: pointer;
}

.menu-btn svg {
  stroke: var(--main-color-text);
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-blue-color);
}

.word-color {
  color: var(--main-color-text);
}

.site-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
  transition: color var(--hover-transition);
}

.contacts {
  font-style: normal;

  margin-top: auto;
}

.contacts-nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.list .contacts-item {
  display: block;

  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--p-text);
  transition: color var(--hover-transition);
}

.mob-menu-wrap .team-links-list {
  margin-top: 48px;
  justify-content: space-between;
  width: 328px;
}

.list .nav-item:hover,
.list .nav-item:focus {
  color: var(--hover-color);
}

.list .contacts-item:hover,
.list .contacts-item:focus {
  color: var(--hover-color);
}

@media screen and (max-width: 767px) {
  .mob-menu-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 80px 35px 40px 40px;
    background-color: var(--main-white-color);
  }

  .js-menu-container.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }

  .js-open-menu svg {
    transform: scale(100%);
    transition: transform var(--hover-transition);
  }

  .js-open-menu:active svg {
    transform: scale(110%);
  }

  .js-menu-container {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: opacity var(--hover-transition),
      transform var(--hover-transition);
  }

  .contacts-nav {
    gap: 40px;
  }

  .list .email-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .list .tel-mob {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--main-blue-color);
  }
}

@media screen and (min-width: 768px) {
  .mob-menu-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .site-nav {
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }

  .nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .contacts {
    margin-left: auto;
  }

  .current-page {
    position: relative;
  }

  .current-page .nav-item {
    color: var(--hover-color);
  }

  .current-page::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: translateY(24px);
    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--hover-color);
  }

  .mob-menu-wrap .team-links-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .contacts-item.tel-mob {
    margin-bottom: 12px;
  }

  .list .contacts-item {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }

  .list .contacts-item {
    font-size: 16px;
    line-height: 1.5;
  }

  .header-nav {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

/* index.html */

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color-text);
}

/* Hero */

/* .hero-container {
  padding-top: 68px;
  padding-bottom: 68px;
} */

.hero {
  background-color: #2e2f42;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero-mob-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-mob-2x-min.jpg);
  }
}

.hero-title {
  width: 100%;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero-tab-min.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-tab-2x-min.jpg);
    }
  }
  .hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 188px 0;
    width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-hero-2x-min.jpg);
        background-size: contain;
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  margin: 0 auto;
  padding: 0;
  width: 169px;
  height: 56px;

  color: var(--main-white-color);
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--hover-transition);
}

.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
}

/* Our principles */

.principles-section {
  padding-bottom: 96px;
}

.principles-item > div {
  display: none;
}

@media screen and (max-width: 1439px) {
  .principles-item:nth-child(-n + 3) {
    margin-bottom: 72px;
  }
}

.content-header {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

.content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--p-text);
}

@media screen and (min-width: 768px) {
  .principles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 24px;
  }

  .principles-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .principles-item:nth-child(3) {
    margin-bottom: 0;
  }

  .content-header {
    text-align: left;
  }
}

@media screen and (min-width: 1440px) {
  .principles-section {
    padding-bottom: 0;
  }

  .principles {
    flex-wrap: nowrap;
  }

  .principles-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .principles-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;

    background-color: var(--main-fill-color);
    border-radius: 4px;
  }

  .principles-icon {
    display: block;
    width: 64px;
    height: 64px;
  }

  .content-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .content-text {
    font-weight: 400;
  }
}

/* what are we doing */

.products {
  display: none;
}

@media screen and (min-width: 1440px) {
  .products {
    display: block;
  }

  .services-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
  }

  .services-header {
    margin-bottom: 72px;
  }

  .services-list img {
    display: block;
  }

  .service-image {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

/* Team */

.team {
  background-color: var(--main-fill-color);
}

.team-header {
  margin-bottom: 72px;
}

.team-list {
  width: 264px;
  margin: 0 auto;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.team-card-content .content-text {
  font-weight: 400;
}

.team-img:not(:last-child) {
  margin-bottom: 72px;
}

.team-list img {
  display: block;
}

.team-card-content {
  text-align: center;

  background-color: var(--main-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  padding: 32px 0;
}

.team-links-list {
  margin-top: 8px;

  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-icon {
  display: block;
  width: 16px;
  height: 16px;

  fill: var(--main-fill-color);
}

.member-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--main-blue-color);
  border-radius: 50px;
  transition: background-color var(--hover-transition);
}

.member-link:hover,
.member-link:focus {
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 552px;
    gap: 64px 24px;
  }

  .team-img {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-img:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .team-img {
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .team-list {
    flex-wrap: nowrap;
    margin: 0;
  }
}

/* Customers */

.customers-list {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--hover-transition);
}

.customers-link:hover {
  border-color: #404bbf;
}

.customers-icon {
  display: block;
  width: 104px;
  height: 56px;

  fill: #8e8f99;
  transition: fill var(--hover-transition);
}

.customers-link:hover .customers-icon {
  fill: #404bbf;
}

@media screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 24 * 2px) / 3);
  }

  .customers-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  .customers-list {
    flex-wrap: nowrap;
  }
}

/* footer */

.studio-color {
  color: var(--main-fill-color);
}

.site-bottom {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: #2e2f42;
}

.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;

  margin-top: 16px;
}

.social-media-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
}

.soc-media-list {
  display: flex;
  gap: 16px;
}

.soc-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;

  background-color: var(--main-blue-color);
  transition: background-color var(--hover-transition);
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: #31d0aa;
}

.soc-media-icon {
  display: block;
  width: 24px;
  height: 24px;

  fill: var(--main-fill-color);
}

/* Subscribe form */

.subscribe-form {
  margin-left: auto;
}

.subscribe-box {
  margin-top: 16px;
}

.subscribe-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white-color);
}

.email-field {
  outline: none;
  display: block;
  width: 264px;
  height: 40px;
  padding: 8px 0 8px 16px;

  background-color: var(--main-color-text);
  border: 1px solid;
  border-color: var(--main-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
}

.email-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-white-color);
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-left: 24px;
  width: 165px;
  height: 40px;

  background-color: #4d5ae5;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--hover-transition);
}

.subscribe-btn svg {
  display: block;
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--hover-color);
}

@media screen and (max-width: 767px) {
  .bottom-content,
  .social-media-box {
    margin: 0 auto 72px;
    width: 268px;
  }

  .footer-tablet-placement-wrap {
    text-align: center;
  }

  .bottom-content .logo {
    margin: 0;
  }

  .soc-media-list {
    justify-content: center;
  }

  .bottom-text {
    text-align: left;
  }

  .subscribe-btn {
    margin: 16px auto 0;
  }

  .subscribe-label {
    text-align: center;
  }

  .email-field {
    width: 100%;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .email-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) {
  .subscribe-box {
    display: flex;
    align-items: end;
  }

  .footer-tablet-placement-wrap {
    display: flex;
    align-items: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer-box {
    padding-left: 108px;
    padding-right: 164px;
  }

  .footer-tablet-placement-wrap {
    gap: 24px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .site-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .bottom-content {
    width: 264px;
    margin: 0 120px 0 0;
  }

  .social-media-box {
    margin: 0;
  }
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity var(--hover-transition),
    visibility var(--hover-transition);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 24px;

  transition: transform var(--hover-transition);
  background-color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  transition: background-color var(--hover-transition),
    border-color var(--hover-transition);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--hover-color);
  border-color: transparent;
}

.close-icon {
  display: block;
  transition: fill var(--hover-transition);
}

.close-button:hover .close-icon {
  fill: var(--main-white-color);
}

.modal .subscribe-label {
  color: var(--main-color-text);
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal-form-input {
  outline: none;
  display: block;
  width: 360px;
  height: 40px;
  padding: 11px 0 11px 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;

  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: var(--main-color-text);
  transition: border-color var(--hover-transition);
}

.modal-form-input:focus {
  border-color: var(--main-blue-color);
}

.modal-form-label {
  display: block;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-form-label {
  margin-bottom: 8px;
}

.modal-form-label:nth-of-type(4) {
  margin: 0;
}

.comment-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.comment-area {
  height: 120px;
  padding: 8px 16px;
  margin-top: 4px;
  resize: none;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 8px;
  fill: var(--main-color-text);
  transition: fill var(--hover-transition);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--main-blue-color);
}

.checkbox-label {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-end;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox {
  -webkit-appearance: none;
}

.checkbox-label a {
  line-height: 1.33;
  text-decoration: underline;
  color: var(--main-blue-color);
  transition: color var(--hover-transition);
}

.checkbox-label a:hover,
.checkbox-label a:focus {
  color: var(--hover-color);
}

.checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: borfer-color var(--hover-transition);
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
}

.checkbox:checked + .checkbox-icon svg {
  opacity: 1;
}

.checkbox-icon svg {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  opacity: 0;
  transition: opacity var(--hover-transition);
}

/* Portfolio.html */

/* Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* buttons */

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}

.filtering {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #4d5ae5;
  background-color: var(--main-fill-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;

  height: 48px;
  padding: 12px 24px;
  transition: color var(--hover-transition),
    background-color var(--hover-transition), box-shadow var(--hover-transition),
    border-color var(--hover-transition);
}

.filtering:hover,
.filtering:focus {
  color: var(--main-white-color);
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404bbf;
}
/* --------------------------------- */

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.examples img {
  display: block;
}

.examples-content {
  padding: 32px 16px;
  border: 1px solid;
  border-color: #e7e9fc;
  border-top: none;
  transition: border-color 1000ms linear;
}

.examples > li {
  flex-basis: calc((100% - 24px * 2) / 3);
}

.card-link {
  display: block;
  transition: box-shadow var(--hover-transition);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-link:hover .examples-content {
  border-color: var(--main-fill-color);
  border-top: none;
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 40px 32px 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgb(77, 90, 229);
  transition: transform var(--hover-transition);
}

.card-link:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: var(--main-fill-color);
}
